<!DOCTYPE html>
<html>
<head>
<title>Recurring Transactions</title>
<style>
    body {background-color: honeydew; margin: auto; max-width: 1000px}
    h1   {color: blue;}
    p    {color: red;}
    .block {background-color: powderblue; margin: 100px 0; padding: 20px; border-width: 20px; border-style: solid; border-color: #8080807a;}
</style>
</head>
<body>
<div class='block'>
<h1>This is a test platform for a back-end processor for recurring transactions</h1>
<p>To see all saved transactions:</p>
<a href='/getTransferlist'>Click Here</a>
<p>To see all saved recurring transactions:</p>
<a href="/getRecurringlist">Click Here</a>
<p>Clear all Lists:</p>
<a href="/removeAllRecords">Click Here</a>
<h3>By: Stevie Magaco</h3>
</div>
</body>
</html>